*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    background-color: #fff;
    color: black;
}

.header{
    background-image: url(./imgs/navback.jpg);
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: center;
    height: 60vh;
}

nav{
    padding: 0;
    margin: 0;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
}

nav > .bar{
    display: flex;
    justify-content: space-between;
    width: max-content;
    gap: 1rem;
    font-size: 1.25rem;
}

.bar > p{
    cursor: pointer;
    font-weight: 300;
}

.logo{
    width: 300px;
}

.mid{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.mid > h3{
    color: white;
    font-size: 3rem;
    font-weight: 400;
}

.mid > h3 > span{
    font-weight: bold;
}

.form > input{
    height: 3rem;
    border-radius: 5px;
    border: none;
}

.loc{
    width: 10rem;
    font-size: 1rem;
}

.food{
    font-size: 1rem;
    width: 35rem;
}

.food{
    position: relative;
    right: 1rem;
}

.form > input {
    outline: none;
}

.pics{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.order , .dining{
    width: 30rem;
    height: 15rem;
    border: 2px solid #ebebea;
    border-radius: 20px;
    padding-bottom: 1rem;
    cursor: pointer;
    transition: 0.5s ease;
}

.order:hover, .dining:hover{
    transform: scale(1.1);
}

.order > img, .dining > img{
    border-radius: 20px;
    width: 30rem;
    height: 10rem;
    object-fit: cover;
    object-position: center;
}

.order > .textorder, .dining > .textdining{
    margin-left: 1rem;
}

.textorder > h4, .textdining > h4{
    font-size: 1.5rem;
    font-weight: 500;
}

.textorder > p, .textdining > p{
    font-size: larger;
    font-weight: 300;
}

.tot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15%;
}

.textcol > h3{
    font-size: 2.5rem;
    font-weight: 500;
}

.textcolin{
    display: flex;
    gap: 4rem;
}

.textcolin > p{
    font-size: 1.2rem;
    font-weight: 400;
}

.right{
    color: lightcoral;
    cursor: pointer;
}

.collections img{
    width: 16rem;
    height: 16rem;
    object-position: center;
    object-fit: cover;
    border-radius: 10px;
}

.images{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    cursor: pointer;
}

.pockettext, .biryanitext, .luxurytext, .placestext{
    color: #fff;
    font-size: 1.2rem;
    position: relative;
    bottom: 20%;
    left: 2.5%;
}

.localities > h3{
    margin-top: 3rem;
    font-size: 2.5rem;
    font-weight: 350;
}

.localities h3 span{
    font-weight: 450;
}

.buttons{
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.buttons h3{
    font-size: 1.7rem;
    font-weight: 350;
    margin-top: 0.5rem;
}

.buttons h3, .buttons h4{
    margin-left: 0.5rem;
}

.buttons h4{
    font-weight: 325;
}

.buttons div{
    border: 2px solid #ebebea;
    border-radius: 20px;
    height: 5rem;
    width: 20rem;
}

.buttonsarrow{
    position: relative;
    left: 90%;
    bottom: 40%;
}

.zapp{
    background-color: #fffbf7;
}

