*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    background-color: #fff4ef;
    color: black;
}

.header{
    background-image: url(./imgs/navback.jpg);
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: center;
    height: 50vh;
}

nav{
    padding: 0;
    margin: 0;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
}

nav > .bar{
    display: flex;
    justify-content: space-between;
    width: max-content;
    gap: 1rem;
    font-size: 1.25rem;
}

.bar > p{
    cursor: pointer;
    font-weight: 300;
}

.logo{
    width: 300px;
}

.mid{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.mid > h3{
    color: white;
    font-size: 3rem;
    font-weight: 400;
}

.mid > h3 > span{
    font-weight: bold;
}

.form > input{
    height: 3rem;
    border-radius: 5px;
    border: none;
}

.loc{
    width: 10rem;
    font-size: 1rem;
}

.food{
    font-size: 1rem;
    width: 35rem;
}
